
<div>
    <!-- Navigation -->
    <div class="b-nav">
      <li><%= link_to "Back to home", root_path, class: "b-link"%></li>
      <li><%= link_to "Back to overview", artworks_path, class: "b-link"%></li>
      <li><a class="b-link" href="https://dribbble.com/mblode" target="_blank">Dribbble</a></li>
    </div>

    <!-- Burger-Icon -->
    <div class="b-container">

      <div class="b-menu">
    <!--     <div class="b-bun b-bun--top"></div>
        <div class="b-bun b-bun--mid"></div> -->
        <%= image_tag "https://res.cloudinary.com/dvoduvlcz/image/upload/v1607414139/Uarte/uarte_signum_qs_rr30q2.png" %>
        <!-- <div class="b-bun b-bun--bottom"></div> -->
      </div>

      <!-- Burger-Brand -->
      <a href="#" class="b-brand"></a>
    </div>
</div>
  <div class="d-flex justify-content-center mt-5">
    <div class="cards-grid">
          <% @artworks.each do |art| %>
          <%= link_to artwork_path(art) do%>
            <div class="flip">
                  <div class="front" style="background-image: url(<%= cl_image_path art.photo.key, height: 400, width: 800, crop: :pad  %>)">
                   <!-- <h1 class="text-shadow"><%#= art.title %></hi> -->
                </div>
                <div class="back d-flex justify-content-between">
                   <h2><%= art.title %></h2>
                   <%= image_tag "https://res.cloudinary.com/dvoduvlcz/image/upload/v1607449289/Uarte/uarte_signum_qs_w_ep0f1k.png" %>
                      <% if art.short_description? %>
                      <p><%= art.short_description %></p>
                      <% else  %>
                      <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit.</p>
                      <% end  %>
                </div>
            </div>
          <% end %>
          <% end %>
        </div>
  </div>


<div>
  <%= link_to "Back to home", root_path, class: "btn btn-primary" %>
</div>

<script>
  'use strict';

(function() {
  var body = document.body;
  var burgerMenu = document.getElementsByClassName('b-menu')[0];
  var burgerContain = document.getElementsByClassName('b-container')[0];
  var burgerNav = document.getElementsByClassName('b-nav')[0];

  burgerMenu.addEventListener('click', function toggleClasses() {
    [body, burgerContain, burgerNav].forEach(function (el) {
      el.classList.toggle('open');
    });
  }, false);
})();
</script>
