<h1>Artworks#index</h1>
<p>Find me in app/views/artworks/index.html.erb</p>

  <div class="d-flex justify-content-center">
    <div class="cards-grid">
          <% @artworks.each do |art| %>
          <%= link_to artwork_path(art) do%>
            <div class="flip">
                  <div class="front" style="background-image: url(<%= cl_image_path art.photo.key, height: 400, width: 800, crop: :pad  %>)">
                   <!-- <h1 class="text-shadow"><%#= art.title %></hi> -->
                </div>
                <div class="back">
                   <h2><%= art.title %></h2>
                   <p><%= art.short_description %></p>
                   <%= image_tag "https://res.cloudinary.com/dvoduvlcz/image/upload/v1607449289/Uarte/uarte_signum_qs_w_ep0f1k.png" %>
                </div>
            </div>
          <% end %>
          <% end %>
        </div>
  </div>


<div>
  <%= link_to "Back to home", root_path, class: "btn btn-primary" %>
</div>




