
  <div class="d-flex justify-content-center mt-5">
    <div class="cards-grid">
          <% @artworks.each do |art| %>
          <%= link_to artwork_path(art) do%>
            <div class="flip">
                  <div class="front" style="background-image: url(<%= cl_image_path art.photo.key, height: 400, width: 800, crop: :pad  %>)">
                   <!-- <h1 class="text-shadow"><%#= art.title %></hi> -->
                </div>
                <div class="back d-flex justify-content-between">
                   <h2><%= art.title %></h2>
                   <%= image_tag "https://res.cloudinary.com/dvoduvlcz/image/upload/v1607449289/Uarte/uarte_signum_qs_w_ep0f1k.png" %>
                      <% if art.short_description? %>
                      <p><%= art.short_description %></p>
                      <% else  %>
                      <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit.</p>
                      <% end  %>
                </div>
            </div>
          <% end %>
          <% end %>
        </div>
  </div>


<!-- <div>
  <%#= link_to "Back to home", root_path, class: "btn btn-primary" %>
</div> -->

