<h1>Artworks#show</h1>
<p>Find me in app/views/artworks/show.html.erb</p>

<div>
  <%= @artwork.title %>
  <%= @artwork.image_url %>
  <%= @artwork.artwork_type %>
  <%= @artwork.description %>
  <% @artwork.photos.each do |picture| %>
       <%=  cl_image_tag(picture.key, :transformation=>[
        {:width=>1000, :height=>800, :crop=>"limit"}
        ]) %>
  <% end %>
</div>

<%= link_to "Back to overview", artworks_path, class: "btn btn-primary" %>
<%= link_to "Back to home", root_path, class: "btn btn-primary" %>
