<div class="container product-view">
  <div class="product-image">
    <img src="<%= cl_image_path @artwork.photo.key, height: 400, width: 300, crop: :pad %>" alt="" class="product-pic">
  </div>

  <div class="product-details">
    <header>
      <h1 class="title"><%= @artwork.title %></h1>
      <span class="colorCat"><%= @artwork.artwork_type %></span>
      <% if @artwork.short_description? %>
      <p><%= @artwork.short_description %></p>
      <!-- <span class="colorCat"><%= @artwork.short_description %></span> -->
      <% else  %>
      <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit.</p>
      <% end  %>
      <!-- <span class="colorCat"><%= @artwork.short_description %></span> -->

<!--       <div class="price">
        <span class="before">$150</span>
        <span class="current">$144.99</span>
      </div> -->
      <div class="rate">
        <!-- <img src="https://res.cloudinary.com/dvoduvlcz/image/upload/v1607414139/Uarte/uarte_signum_qs_rr30q2.png" alt="" class="product-logo"> -->
        <span class="artist-name">by <%= @artwork.artist.artist_name %></span>
<!--         <a href="#!" class="active">★</a>
        <a href="#!" class="active">★</a>
        <a href="#!" class="active">★</a>
        <a href="#!">★</a>
        <a href="#!">★</a> -->

      </div>
    </header>
    <article>
      <h5>Beschreibung</h5>
      <% if @artwork.description? %>
      <p><%= @artwork.description %></p>
      <% else  %>
      <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Excepturi dolore ducimus expedita quibusdam doloribus possimus officiis voluptatum quos, ipsam? Dolorum corrupti ea officia dignissimos blanditiis assumenda incidunt quod fugiat consectetur.</p>
      <% end  %>
    </article>
    <div class="artwork-specs">
      <div class="size contentspecs">
        <h5>Größe</h5>
        <p><%= @artwork.size %></p>
      </div>
       <div class="size contentspecs">
        <h5>Eigenschaften</h5>
        <p><%= @artwork.specifications %></p>
      </div>
      </div>
          <div class="artwork-specs">

      </div>
    </div>
  </div>

<div class="container">
     <div class="artwork-footer">
      <div class="d-flex justify-content-around" id="artwork-footer-items">
         <% if @artwork.previous %>
           <%= link_to "letztes Kunstwerk: (#{@artwork.previous.title})", @artwork.previous %>
           <% end %>
         <%= link_to "Übersicht", artworks_path %>
         <% if @artwork.next %>
            <%= link_to "nächstes Kunstwerk: (#{@artwork.next.title})", @artwork.next %>
         <% end %>
      </div>
      </div>
  </div>


<!-- <div class="container">
  <%#= cl_image_tag @artwork.photo.key, height: 800, width: 600, crop: :pad %>
</div> -->
<!-- <div class="container d-flex justify-content-center">
  <%#= link_to "Back to overview", artworks_path, class: "btn btn-ghost" %>
  <%#= link_to "Back to home", root_path, class: "btn btn-ghost" %>
</div> -->
