<h1>Artworks#show</h1>
<p>Find me in app/views/artworks/show.html.erb</p>

<div>
  <%= @artwork.title %>
  <%= @artwork.artwork_type %>
  <%= @artwork.description %>
  <%= cl_image_tag @artwork.photo.key, height: 400, width: 800, crop: :pad %>
</div>


<%= link_to "Back to overview", artworks_path, class: "btn btn-primary" %>
<%= link_to "Back to home", root_path, class: "btn btn-primary" %>



