temp.html.erb


<div class="container mt-5">
     <div class="artwork-footer">
      <div class="artwork-footer-items">
         <% if @artwork.previous %>
           <div class="d-flex flex-column align-items-center">
           <%= link_to "zurück zu #{@artwork.previous.title}", @artwork.previous %>
            <%= cl_image_tag @artwork.previous.photo.key, height: 45, width: 45, crop: :pad %>
            </div>
           <% end %>
           <div class="d-flex flex-column align-items-center">
         <%= link_to "Übersicht", artworks_path %>
          <%= image_tag "https://res.cloudinary.com/dvoduvlcz/image/upload/v1607414139/Uarte/uarte_signum_qs_rr30q2.png", :height=>45, :crop=>:fit %>


        </div>
         <% if @artwork.next %>
         <div class="d-flex flex-column align-items-center">
            <%= link_to "weiter zu #{@artwork.next.title}", @artwork.next %>
            <%= cl_image_tag @artwork.next.photo.key, height: 45, width: 45, crop: :pad %>
            </div>
         <% end %>
      </div>
      </div>
  </div>

<div class="container mt-5">
       <div class="artwork-footer">
      <div class="artwork-footer-items">
         <% if @artwork.previous %>
           <div class="d-flex flex-column align-items-center">
           <%= link_to "zurück zu #{@artwork.previous.title}", @artwork.previous %>
            <%= cl_image_tag @artwork.previous.photo.key, height: 45, width: 45, crop: :pad %>
            </div>
           <% end %>
           <div class="d-flex flex-column align-items-center">
         <%= link_to "Übersicht", artworks_path %>
          <%= image_tag "https://res.cloudinary.com/dvoduvlcz/image/upload/v1607414139/Uarte/uarte_signum_qs_rr30q2.png", :height=>45, :crop=>:fit %>


        </div>
         <% if @artwork.next %>
         <div class="d-flex flex-column align-items-center">
            <%= link_to "weiter zu #{@artwork.next.title}", @artwork.next %>
            <%= cl_image_tag @artwork.next.photo.key, height: 45, width: 45, crop: :pad %>
            </div>
         <% end %>
      </div>
  </div>
  </div>
